body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-image: url(../img/bfc707c59c5bf849301dd7460aa8d15e.jpg);
  background-position: center;
  background-size: cover;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

a {
  text-decoration: none;
  color: black; }

h2 {
  text-decoration: underline; }

.animate__animated {
  --animate-duration: 1.3s; }

header {
  background-color: #ae9043;
  height: 120px; }

nav {
  display: flex;
  justify-content: space-between; }

.santo-bocado {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  display: flex;
  align-items: center; }

#logo {
  width: 100px;
  border-radius: 100px;
  margin: 10px; }

.logo {
  border-radius: 50%;
  width: 6rem; }

h1 {
  text-align: center; }

.enlaces {
  display: flex;
  align-items: center; }

#barra-nav {
  display: flex;
  list-style-type: none; }

header ul {
  padding: 0px;
  margin: 0px 10px; }

header li {
  margin: 0px 10px; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #ffffff;
  height: 30px;
  background-color: #000000; }

#nosotros {
  background-image: url(../img/background.jpg); }

.sobre-nosotros {
  text-align: center;
  font-size: 26px;
  font-family: 'Times New Roman', Times, serif;
  padding: 30px; }

.fotos-nosotros {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 30px; }
  .fotos-nosotros img {
    width: 30%;
    margin: 5px;
    flex-grow: 1;
    border-radius: 10px;
    border: solid 5px #000000; }

#encomiendas {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-image: url(../img/dulce_quinoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  #encomiendas section {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px; }

.envios {
  width: 550px;
  padding: 30px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  font-size: 26px;
  border-radius: 20px; }

.boton {
  margin-top: 15px;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

iframe {
  margin-bottom: 20px; }

#carrito {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-image: url(../img/fondo-pintado-a-mano-negro.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.titulo-blanco {
  color: #ffffff;
  margin-left: 40px; }

.estilo-carrito {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 70vh;
  gap: 10px; }
  .estilo-carrito article {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    font-size: 20px;
    background-color: #fafafab4; }
    .estilo-carrito article div {
      display: flex;
      align-items: center;
      gap: 10px; }
      .estilo-carrito article div img {
        width: 100px; }
      .estilo-carrito article div span {
        font-size: 30px;
        font-weight: bold; }
      .estilo-carrito article div select {
        font-size: 16px;
        border: 2px solid #000000;
        border-radius: 30px; }
