// Misc

@import './misc/normalize';
@import './misc/animations';
@import './misc/variables';

// Partials

@import './partials/header';
@import './partials/footer';

// Pages

@import './pages/home';
@import './pages/nosotros';
@import './pages/encomiendas';
@import './pages/carrito';
@import './pages/cuenta'