<!DOCTYPE html>
<html lang="es-la">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/style.css">
   <title>Santo Bocado</title>
</head>

<body id="registro-ingreso">

   <!-- INICIA HEADER -->

   <header>
      <nav>
         <a href="../index.html">
            <div class="santo-bocado">
               <img src="../img/santo_bocado.jpg" alt="logo Santo Bocado" id="logo">
               <h1>Santo Bocado</h1>
            </div>
         </a>
         <div class="enlaces">
            <ul id="barra-nav">
               <li><a href="./nosotros.html">Sobre Nosotros</a></li>
               <li><a href="./encomiendas.html">Encomiendas</a></li>
               <li><a href="./carrito.html">Carrito</a></li>
               <li><a href="./registro-ingreso.html">Mi cuenta</a></li>
            </ul>
         </div>
      </nav>
   </header>

   <!-- INICIA MAIN -->

   <main>
      <section class="datos">
         <h3>Ingresá a tu cuenta</h3>
         <form action="" class="form-datos">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="ejemplo123@mail.com">
            <label for="contraseña">Contraseña</label>
            <input type="password" name="contraseña" id="contraseña" placeholder="********">
            <input type="submit" value="Ingresar" id="boton-ingreso">
         </form>
         <div class="div-datos">
            <span><a href="#">¿Olvidaste tu contraseña?</a></span>
            <span><a href="#">Registrarse</a></span>
         </div>
      </section>
   </main>

   <!-- INICIA FOOTER -->

   <footer>
      <div>Productos artesanales y sin conservantes</div>
      <div>
         <a href="https://www.instagram.com/santobocadomonte/?hl=es-la" target="blank"><img src="../img/icono-ig.png"
               alt="enlace a instagram" width="30px"></a>
      </div>
   </footer>

</body>

</html>