// Footer

footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   color: map-get($colores, blanco);
   height: 30px;
   background-color: map-get($colores, negro);
}