// View Carrito

#carrito {
   display: grid;
   grid-template-rows: auto 1fr auto;
   min-height: 100vh;
   background-image: url(../img/fondo-pintado-a-mano-negro.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

.titulo-blanco {
   color: map-get($colores, blanco);
   margin-left: 40px;
}

.estilo-carrito {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-around;
   height: 70vh;
   gap: 10px;

   article {
      display: flex;
      justify-content: space-between;
      padding: 0px 30px;
      font-size: 20px;
      background-color: map-get($colores, gris);

      div {
         display: flex;
         align-items: center;
         gap: 10px;

         img {
            width: 100px;
         }

         span {
            font-size: 30px;
            font-weight: bold;
         }

         select {
            font-size: 16px;
            border: 2px solid map-get($colores, negro);
            border-radius: 30px;
         }
      }
   }
}