// Normalize

body {
   margin: 0px;
   padding: 0px;
   height: 100vh;
   background-image: url(../img/bfc707c59c5bf849301dd7460aa8d15e.jpg);
   background-position: center;
   background-size: cover;
   font-size: 18px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
   text-decoration: none;
   color: black;
}

h2 {
   text-decoration: underline;
}